
@{
    ViewData["Title"] = "Home Page";
}

    <h1>@ViewData["Title"]</h1>

    <div class="row">
        
        <div class="col-lg-12">
            <div class="product-info">
                <img src="img/" alt="Vangog">
                <h3>Mug</h3>
                <ul class="products-props">
                    <li>Price: $9.99</li>
                    <li>Artist: Van Gogh</li>
                    <li>Title:</li>
                    <li>Description: Self-prortrait</li>
                </ul>
                <button id="buyButton" class="btn btn-success"></button>
            </div>
        </div>

    </div>


